.title {
    font-size: 28px;
    margin: 20px auto 30px auto;
    text-align: center;
    font-weight: bold;
    width: 60%;
    font-family: George;
    color: #482be7;
}

.container {
    padding-bottom: 50px;
}

.imgContainer {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    filter: drop-shadow(3px 15px 20px rgba(0, 0, 0, 0.27)) drop-shadow(6px 8px 10px rgba(30, 14, 98, 0.35));
}

.img {
    width: 100%;
    height: auto;
}

.content {
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
}

.articleFooter {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.articleFooter p {
    color: #5845a5;
}

.articleFooter p span {
    color: #6b6b6b;
}

.bold {
    font-weight: bold;
}

.smthWrong {
    text-align: center;
    font-size: 24px;
    margin: 25px;
    text-align: center;
    font-family: George;
    color: #482be7;
}
