.cardContainer {
    display: flex;
    margin: 2rem 0;
    background-color: white;
}

.imageContainer {
    width: 30%;
    height: 100%;
}

.image {
    width: 100%;
    height: auto;
}

.articleContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.articleTitle {
    text-align: center;
}

.readMore {
    align-self: flex-start;
}
