@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.cardContainer::after {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(207, 205, 205);
    width: 80%;
    margin: 50px 0;
}

.imageContainer {
    width: 200px;
    height: 200px;
    margin: 12px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    filter: drop-shadow(3px 15px 20px rgba(0, 0, 0, 0.27)) drop-shadow(6px 8px 10px rgba(30, 14, 98, 0.35));
    border-radius: 7px;
}

.image {
    width: 100%;
    height: auto;
}

.articleTitle {
    font-family: George;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #482be7;
}

.cardDescription {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #8c8c8c;
}

.readMore {
    align-self: center;
}

.articleTitle {
    font-size: 22px;
    font-weight: bold;
    margin: 0.3rem 0;
}

.readMore {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.addition {
    align-self: flex-start;
    margin: 5px 0;
}

.author {
    font-family: George;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5845a5;
}

.author::after {
    content: "|";
    color: #6b6b6b;
    display: inline-block;
    margin: 0 15px;
}

.date {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #6b6b6b;
}

@media screen and (min-width: 800px) {
    .cardContainer {
        position: relative;
        padding-left: 175px;
    }

    .imageContainer {
        position: absolute;
        top: -17px;
        left: 0;
        width: 150px;
        height: 150px;
    }

    .articleTitle,
    .readMore {
        align-self: flex-start;
    }

    .cardContainer::after {
        margin: 70px 0;
        transform: translate(-100px)
    }
}
