.searchContainer {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 15px 20px rgba(0, 0, 0, 0.27)) drop-shadow(6px 8px 10px rgba(30, 14, 98, 0.35));
}

.search {
    border: 0;
    outline: 0;
    padding: 10px 12px;
}

.searchButton {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #5845a5;
    cursor: pointer;
    font-family: George;
}

.searchButton:hover {
    background-color: #5845a5;
}

@media screen and (min-width: 550px) {
    .searchContainer {
        flex-direction: row;
    }
    .search {
        width: 250px;
    }
}

@media screen and (min-width: 1000px) {
    .search {
        width: 350px;
    }
}
